
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
   background-image: url(./images/main.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y:65px ;
   font-family: "Montserrat";
   overflow: hidden;
}

.top-part{
    background-color:#2C2923;
    height: 35vh;
    position: absolute;
    width: 100%;
}

.nav-logo img{
    position: absolute;
    left: 6%;
    top: 12%;
    width: 90px;
}

.nav-items{
    list-style: none;
    position: relative;
    left:40%;
    top: 22px;
}

.nav-item{
    display: inline-block ;
    padding-left: 35px;
    color: #908D85;
    font-size: 15px;
}

.nav-button{
    color: #827631;
    border: 1px solid #827631;
    border-radius: 0.3em;
    padding: 10px 15px;
    background-color: transparent;
    position: absolute;
    top: 12%;
    right: 10%;
    font-size: 15px;
}

.heading{
    color: #F1F0EF;
    position: absolute;
    left: 6%;
    top: 25%;
    right: 58%;
    font-size: 55px;
    line-height: 80px;
}

.description{
    /* color: #908D85; */
    /* color: #E7E6E4; */
    color: #F1F0EF;
    position: absolute;
    top:47%;
    left: 55%;
    right: 20%;
    line-height: 27px;
    font-size: 15px;
}

.bottom{
    background-color:#2C2923;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0%;
}

.greater{
    color: #F1F0EF;
    position:absolute ;
    background-color: #827631;
    border: 1px solid  #827631;
    right: 0;
    bottom: 0;
    padding: 24px 29px;
}
    
.less{
    color: #F1F0EF;
    position: absolute;
    background-color: #3A372D;
    border: 1px solid #3A372D ;
    padding: 24px 29px;
    bottom: 0;
    right: 85px;
}
